@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    background-color: #5F8BE8 !important;
    color: rgb(71, 21, 187) !important;
    font-family: "Cabin", sans-serif;
}

.navbar-brand {
    color: rgb(71, 21, 187) !important;
    font-family: "Cabin", sans-serif;
}
  
.bg-light {
    background-color: #9BCCE8 !important;
    color: rgb(71, 21, 187) !important;
    font-family: "Cabin", sans-serif;
}

body{
    background-color: #C8CEE8 !important;
    font-family: "Cabin", sans-serif;
}

.bg-dark {
    background-color: #5F8BE8  !important;
    font-family: "Cabin", sans-serif;
    font-weight: 400;

}
  
.btn{
    background-color: #5F8BE8 !important;
    border: #5F8BE8;
}